@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

input, 
button {
    font: inherit;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    color: #fff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    margin: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-flow: column nowrap;
    background: white;
    border-radius: 10px;
    padding: 0.5rem;
    max-height: 80vh;

}

section {
    
    
    padding: 0.5rem;
}

.button {
    border-radius: 10px;
    min-width: 48px;
    min-height: 48px;
    border: none;
}



.button:hover {
    cursor: pointer;
}

.newItemEntry {
    position: sticky;
    top: 0;
    
    margin-bottom: 1rem;
}

.newItemEntry__form {
    display: flex;
    gap: 0.25rem;
    font-size: 1.1rem;
}

.newItemEntry__input {
    width: calc(100% - (0.25rem + 48px));
    flex-grow: 1;
    border-radius: 8px;
    padding: 0.5em;
    border-color: rgba(220, 220, 220, 0.498);
    border-style:ridge;
    
}

.newItemEntry__button {
    background-color:  rgb(17, 139, 17);
    color: #fff;
    padding: 0.1em;
    border: none;
    font-size: 1.7rem;
}

.newItemEntry__button:hover,
.newItemEntry__button:focus {
    background-color: rgb(35, 94, 55);
   
}

.listContainer {
    font-size: 1.1rem;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    color: black;
}

.listTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.listTitle__button {
    background-color: transparent;
    color: whitesmoke;
    font-size: 1.1rem;
    background: rgb(17, 139, 17);
    padding: 0.5em;
    border: none;
    
}
.listTitle__button:hover {
    background-color: rgb(35, 94, 55);
}

.listItems {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
    font-size: 1rem;
}

.item {
    display: flex;
    align-items: center;
    padding-top: 1em;
    gap: 1em;
    font-size: 1.1rem;
    
}

.item > input[type="checkbox"] {
    text-align: center;
    min-width: 2rem;
    min-height: 2rem;
    cursor: pointer;
    
}

.item > input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

.item > label {
    flex-grow: 1;
    word-break: break-all;
}

.item > button:hover, 
.item > button:focus {
    background-color: rgb(176, 16, 16);
    color: white;
}

@media (min-width: 768px) {
    section {
        padding: 1rem;
    }
    .newItemEntry__form {
        gap: 0.5rem;
    }
}